/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';

/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */


@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);



/**
 * Generic
 */
body {
  background: @backgroundColor;
  font: 200% @sansFontFamily;
  color: @textColor;
}



// header

header {


  // all screen
  .timer {
    margin-bottom: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }


  // only for larger screens
  @media (min-width: @screen-sm) {

    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      opacity: 0.9;

      &.navbar-inverse {
        background: #222;
      }

      .capathon-logo {
        text-align: center;
        //    margin-top: 100px;
        //    margin-bottom: 100px;
        opacity: 0;
        height: 0;
        width: 100%;
        -webkit-transition: height 0.42s ease 0.5s, opacity 0.4s ease 0.375s;
        transition: height 0.42s ease 0.5s, opacity 0.4s ease 0.375s;
        background-image: url("images/Capathon.Site.Header.png");
        background-position: center;
        background-repeat: no-repeat;
      }

      .timer {
        display: block;
        text-align: center;
        font-size: 125%;
        -webkit-transition: height 0.42s ease 0.5s, opacity 0.4s ease 0.375s;
        transition: height 0.42s ease 0.5s, margin-bottom 0.42s ease 0.5s, opacity 0.4s ease 0.375s;
      }

      .capathon-logo-small {
        opacity: 1;
        height: 30px;
        width: 155px;
        background-image: url("images/capathon-small.png");
        background-position: center;
        background-repeat: no-repeat;
        float: right;
        margin-top: 10px;
        -webkit-transition: width 0.42s ease 0.5s, opacity 0.4s ease 0.375s;
        transition: width 0.42s ease 0.5s, opacity 0.4s ease 0.375s;
      }

    }

    &.big {
      nav {
        .capathon-logo {
          opacity: 1;
          height: 200px;
          margin-top: 50px;
        }

        .capathon-logo-small {
          opacity: 0;
          width: 0;
          -webkit-transition: width 0.42s ease 0.5s, opacity 0.4s ease 0.375s;
          transition: width 0.42s ease 0.5s, opacity 0.4s ease 0.375s;
        }

        .timer {
          opacity: 1;
          height: 6em;
          margin-bottom: 50px;
        }
      }
    }
  }
}


.warning {
  padding: 50px;
  border: 2px solid red;
  background: white;
  color: black;
}

// footer
footer.container {
  width: 100%!important;
  margin: 0;
  height: 5em;
  margin-top: 100px;
  padding-top:2em;
  padding-bommom: 2em;
  background-color: rgb(30, 30, 30);
}

/* Signup */
.modal-content {
  background: #d4d4d4;
  color: #000;
}


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';

